.list-cell:empty {
    visibility:hidden;
    -fx-background-color: #d7e0eb;
    -fx-fill: black;
}

.list-cell{
    --fxbackground-color:  #d7e0eb;
    -fx-control-inner-background: #d7e0eb;
    -fx-fill: black
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #266867;
    -fx-background-radius: 5em;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}