.list-cell:empty {
    visibility:hidden;
    -fx-background-color: #d7e0eb;
}

.list-cell1:empty{
    visibility:hidden;
    -fx-background-color: #d7e0eb;
}
.list-cell1{
    -fx-background-color: #d7e0eb;
    -fx-padding: 0px;
}

.list-cell1:filled:selected:focused, .list-cell1:filled:selected{
    -fx-background-color: #d7e0eb;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #266867;
    -fx-background-radius: 5em;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}
