.messageReceived > * {
    -fx-font-size: 12px;
    word-break: normal;
    -fx-fill: #2b3e55;
}

.messageReceived{
    -fx-background-radius: 0 8 8 8;
    -fx-padding: 3px 0px, 0px, 0px;
}

.messageReceivedVBox{
    -fx-background-radius: 0 8 8 8;
    -fx-background-color:  #99b0cc;
    -fx-padding: 5px;
}

.messageSent > * {
    -fx-font-size: 12px;
    word-break: normal;
    -fx-fill: #d7e0eb;
}

.messageSent{
    -fx-background-radius: 8 0 8 8;
    -fx-background-color:  #1a4645;
    -fx-padding: 3px 0px 0px 4px;
}

.messageReceivedReplyVBox{
    -fx-background-color: #88a3c3;
    -fx-border-style: hidden hidden hidden solid;
    -fx-border-color: #6688b2;
    -fx-border-width: 5px;
    -fx-padding: 0px 0px 0px 3px;
}

.messageReceivedReply{
    -fx-background-radius: 0 8 8 8;
    -fx-background-color:  #99b0cc;
    -fx-padding: 6px 0px 0px 5px;
}

.messageReceivedReplyTextFlow{
    -fx-padding:  3px 0px 0px 0px;
    text-overflow: ellipsis;
}

.messageReceivedReplyTextTextFlow{
    -fx-padding:  3px 3px 0px 0px;
    -fx-fill: #2b3e55;
}

.messageSentReply{
    -fx-background-radius: 8 0 8 8;
    -fx-background-color:  #1a4645;
    -fx-padding: 6px 5px 0px 5px;
}

.messageSentReplyVBox{
    -fx-background-color: #314a53;
    -fx-border-style: hidden hidden hidden solid ;
    -fx-border-color: #2e3333;
    -fx-border-width: 5px;
    -fx-padding: 0px 0px 0px 3px;
    -fx-fill: #d7e0eb;
    -fx-background-radius: 0 8 8 0;

}